.app{
    overflow: hidden;
}

.header{
    background-image: linear-gradient(-180deg,#f53d2d,#f63);
    height: var(--header-height);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var( --navbar-height);
}

.header__navbar-list{
    padding-left: 0;
    list-style: none;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 24px;
}

.header__navbar-item--notify-appear:hover .header__notify{
    display: block;
}

.header__navbar-item--appear:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header__navbar-item--bold{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #FB9086;
    height: 12px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item span{
    cursor: text;
    color: var(--white-color);
    margin-right: 4px;
}

/* Header QR code  */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 120%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn  ease-in .5s;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.header__qr::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 25px;
    left: 0;
    top: -15px;
}

.header__qr-img{
    width: 100%;
    
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 12px;
}

.header__qr-link:nth-child(2){
    margin-right: 12px;
}


.header__qr-link img{
    height: 16px;
}

/* Header thông báo  */

.header__notify{
    position: absolute;
    top: 120%;
    width: 404px;
    right: 0;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    color: var(--text-color);
    transform-origin: 90% top;  /*thuộc tính để hiện từ góc trên bên trái: top right |  */
    animation: appear ease-in-out 0.5s;
    will-change: opacity, transform ;
    display: none;
    z-index: 10;
}

.header__notify::before{
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -28px;
    right: 3%;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: var(--text-color);
    margin: 0 0 0 10px;
    line-height: 40px;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.5;
    cursor: default;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
    height: 72px;
    list-style-type: none;
    background-color: var(--primary-color-rgba);
}

.header__notify-item--viewed{
    background-color: #f8f8f8;
}

.header__notify-item:hover{
    background-color: #f8f8f8;
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-link img{
    width: 40px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 10px;
}

.header__notify-info h4{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 5px 5px 0;
    font-weight: 400;
}

.header__notify-info p{
    font-size: 1rem;
    margin: 0;
    color: #756F6E;
}

.header__notify-footer a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 12px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.4rem;
}

.header__notify-footer a:hover{
    background-color: #fdfdfd;
    opacity: 0.8;
}

/* Modal form  */
.auth-form{
    width: 500px;
}

.auth-form__container{
    padding: 0 32px;

}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__header h3{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__header span{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 32px;
    padding: 0 12px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8rem;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help span{
    display: block;
}

.auth-form__help-link{
    font-size: 1.4rem;
}

.text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control{
    margin-top: 108px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.btn--with-icon{
    display: flex;
    align-items: center;
}
.btn--with-icon--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.btn--with-icon--google{
    background-color: rgb(255, 255, 255);
    color: var(--text-color);
}

.btn--with-icon i{
    font-size: 2.4rem;
    padding: 0 0 0 8px;
}

.btn--with-icon span{
    padding: 0 24px;
}

/* Header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search{
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon{
    color: var(--white-color);
    font-size: 2.6rem;
}

.header__logo{
    width: 200px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
    padding: 0 12px;
}

.header__cart i{
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    padding: 4px 8px;
    color: var(--text-color);
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-select{
    border-left: 2px solid var(--border-color);
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select > span{
    padding-left: 12px;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__search-select > i{
    padding: 0 12px;
    color: rgb(161, 161, 161);
    font-size: 1.4rem;
    cursor: pointer;
}

.header__search-btn{
    min-width: 60px;
    height: 34px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(238, 77, 45, 1);
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search-btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.header__search-btn i{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 120%;
    left: 0;
    /* width: 128px; */
    list-style-type: none;
    padding-left: 0;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    display: none;
    z-index: 1;
}

.header__search-option::before{
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -10px;
}

.header__search-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-item:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}

.header__search-item:hover i{
    color: var(--primary-color)!important;
}   

.header__search-item > span{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 4px;
}

.header__search-item > i{
    font-size: 1.0rem;
    color: #a1a1a1;
    padding: 0 4px;
    cursor: pointer;
}

.header__search-item--active i{
    color: var(--primary-color);
}

/* Lịch sử tìm kiếm  */

.header__search-history{
    position: absolute;
    left: 0%;
    top: calc(100% + 2px);
    background-color: blue;
    width: calc(100% - 16px);
    border-radius: 3px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3px #ccc;
    display: none;
    z-index: 2;
}

.header__search-history h3{
    margin: 8px 12px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.6;
}

.header__search-history-list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover{
    background-color: #f8f8f8;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Header sort bar */

.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header__sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    flex: 1;
}

.header__sort-link{ 
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header__sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before{
    content: "";
    position: absolute;
    height: 60%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-left: 1.5px solid #e5e5e5;
}

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}


/* App container */
.app__container{
    background-color: #F5f5f5;
}

    /* Category CSS */
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading{
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    margin-top: 0;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-left: 8px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);

}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 8px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    right: 0;
    transition: right linear 0.2s;
}

.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}

    /* Mobile catergory  */
.mobile-catergory{
    display: none;
}

.mobile-catergory__list{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: auto;
    
}

.mobile-catergory__list::-webkit-scrollbar{
    display: none;

}


.mobile-catergory__item{
    flex-shrink: 0;
    margin: 0 10px 0 0;
}

.mobile-catergory__item:nth-of-type(3n + 1) .mobile-catergory__link{
    background-color: #87AFD8;

}

.mobile-catergory__item:nth-of-type(3n + 2) .mobile-catergory__link{
    background-color: #76c9bd;
    
}

.mobile-catergory__item:nth-of-type(3n + 3) .mobile-catergory__link{
    background-color: #88cf81;
    
}

.mobile-catergory__link{
    --line-height: 20px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    /* -webkit-user-select: none; */
    -webkit-tap-highlight-color: transparent;
}


    /* Filter CSS */
.home-filter{
    background-color: rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    padding: 12px 24px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.home-filter__btn{
    min-width: 90px !important;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    display: flex;
    overflow: hidden;
    width: 72px;
    height: 36px;
    border-radius: 2px;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}
    /* Product Item CSS */
.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);

}


.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    margin: 10px 10px;
    height: 3.6rem;
    overflow: hidden;                   /* từ đây trở xuống cách làm chữ có 3 chấm ....*/
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-style{
    margin: 0 2px 0 4px ;
    font-size: 1rem;
    color: var(--primary-color);
}

.home-product-item__price-new{
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action{
    display: flex;
    margin: 8px 10px;
}

.home-product-item__action-like{
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__action-rating{
    margin-left: auto;
    font-size: 0.8rem;
    color: #ffce3d;
}

.home-product-item__action-sold{
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 5px;
    color: var(--text-color);
}

.home-product-item__location{
    padding: 0px 10px 0 10px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
    opacity: 0.7;
}

.home-product-item__location p{
    margin: 0;
    padding-bottom: 10px;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    padding-right: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px ;
}

.home-product-item__favourite::before{
    content: "";
    display: block;
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    left: 0;
    top: 100%;
    filter: brightness(50%);
}

.home-product-item__favourite i{
    font-size: 0.8rem;
    margin: 0 2px 0 4px;
    color: var(--white-color);
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,212,36,.9);
    text-align: center;
}

.home-product-item__sale-off::after{
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 100%;
    border-width: 0 20px 6px ;
    border-style: solid;
    border-color: transparent rgba(255,212,36,.9) transparent rgba(255,212,36,.9);

}

.home-product-item__sale-off-percent{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.home-product-item__sale-off-label{
    color: var(--white-color);
    /* color: black; */
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.home-product__pagination{
    margin: 32px 0 28px 0;
}

